.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $family;
    font-size: 1.7rem;

    background: none;
    border: 0;
    border-radius: 1px;

    cursor: pointer;

    &--blue {
        color: $colors-primary;

        background: linear-gradient(270deg, #018ff8 0%, #012d80 100%);

        box-shadow: 0 4px 7px rgba(1, 45, 128, 0.3);
    }

    &--white {
        background: -webkit-linear-gradient(#eee, #333);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        box-shadow: 0px 0px 20px rgba(1, 45, 128, 0.15);
    }
}
