.contacts {
    width: fit-content;
    padding: 45px 114px 51px;

    border-radius: 12px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);

    background-color: #fff;

    &--map {
        position: absolute;
        left: 0;
    }
    &--footer {
        width: 100%;
        max-width: 270px;

        padding: 19px 0 0;

        box-shadow: none;

        .contacts__tel {
            margin-bottom: 16px;

            white-space: nowrap;
        }
    }

    &__caption {
        max-width: 255px;

        margin-bottom: 37px;

        color: #555454;
        line-height: 22px;
        text-align: center;
    }

    &__tel {
        display: block;

        margin-bottom: 33px;

        font-size: 2.4rem;
        color: #0057ba;
        text-align: center;
    }
}
