.list {
    display: flex;
    flex-direction: column;
    &--showcase {
        gap: 11px;

        margin-bottom: 63px;

        .list__item {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .list__icon {
            width: 15px;
            height: 15px;
        }

        .list__item-w-decor {
            position: relative;

            display: inline-block;

            padding-right: 30px;

            &::after {
                content: '';
                position: absolute;
                right: 15px;
                top: 0;

                width: 1px;
                height: 100%;

                background-color: #f5f5f5;
            }
        }
    }

    &--faq {
        list-style: disc;
        padding-left: 15px;

        padding-bottom: 43px;

        .list__item {
            font-size: 1.4rem;
            font-weight: 300;
            color: #1e2122;
        }
    }

    &--tabs {
        .list__item {
            padding: 10px 23px 10px 25px;
            height: 100%;
            min-height: 71px;

            display: grid;
            grid-template-columns: 1fr 30%;
            align-items: center;
            gap: 20px;

            background-color: $colors-primary;
            border-radius: 8px;

            &:nth-child(odd) {
                background-color: #f5f5f5;
            }

            @media (max-width: $lg) {
                grid-template-columns: 1fr 45%;
            }

            @media (max-width: $sm) {
                grid-template-columns: 1fr;

                padding: 20px 15px;
            }
        }

        .list__item-caption {
        }

        .list__item-desc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            min-height: 50px;
            height: 100%;

            padding-left: 29px;

            font-weight: 300;
            color: #363535;

            border-left: 1px solid $colors-decor;

            @media (max-width: $md) {
                border-left: 0;
                border-top: 1px solid $colors-decor;

                padding-left: 0;
                padding-top: 10px;
            }
        }

        .list__item-price {
            white-space: nowrap;
        }

        .list__item-btn {
            width: 100%;
            max-width: 166px;

            padding: 7px;
            font-size: 1.7rem;

            @media (max-width: $md) {
                font-size: 1.5rem;
            }
        }
    }

    &--work-steps {
        display: flex;
        flex-direction: column;
        gap: 43px;

        .list__item {
            display: flex;
            flex-direction: column;
            gap: 28px;
        }

        .list__item-icon {
            position: absolute;
            top: 0;
            left: 0;

            width: 40px;
            height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            font-size: 2.6rem;
            color: $colors-primary;
            font-weight: 600;

            background-color: #0066cb;
            border-radius: 50%;

            @media (max-width: $sm) {
                width: 30px;
                height: 30px;

                font-size: 1.8rem;
            }
        }

        .list__item-title-wrapper {
            position: relative;

            display: flex;
            align-items: center;

            min-height: 40px;

            padding-left: 65px;

            @media (max-width: $sm) {
                min-height: 30px;
                padding-left: 40px;
            }
        }

        .list__item-title {
            position: relative;

            font-size: 2.1rem;
            font-weight: 500;

            &::after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;

                width: 100px;
                height: 1px;

                background-color: #ff3347;
            }
        }

        .list__item-desc {
            padding-left: 65px;

            font-weight: 300;

            @media (max-width: $sm) {
                padding-left: 40px;
            }
        }
    }
}
