.section {
    &--showcase {
        padding: 72px 0 59px;

        margin-bottom: 52px;

        background-image: url('../img/section/showcase/bg.png');
        background-position: right center;
        background-repeat: no-repeat;

        border-bottom: 1px solid #f5f5f5;

        @media (max-width: $lg) {
            padding: 400px 0 0;
            background-image: url('../img/section/showcase/bg-md.png');
            background-position: right top;

            border-bottom: 0;
        }

        @media (max-width: $md) {
            padding: 400px 0 0;
            background-image: url('../img/section/showcase/bg-md.png');
            background-position: top center;
        }

        .section__inner {
        }

        .section__title {
            max-width: 700px;
            margin-bottom: 40px;
        }
    }

    &--advantages {
        margin-bottom: 77px;

        .section__title {
            margin-bottom: 36px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 17px;

            @media (max-width: $lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
    }

    &--faq {
        margin-bottom: 103px;

        .section__title {
            max-width: 544px;
            margin-bottom: 44px;
        }

        .section__content {
            display: flex;
            gap: 27px;

            @media (max-width: $md) {
                flex-direction: column;
            }
        }

        .section__banner {
            width: 281px;
            flex-shrink: 0;
            height: fit-content;

            padding: 27px 29px 33px;

            border-radius: 8px;
            border: 1px solid #bdbdbd;
        }

        .section__banner-title {
            margin-bottom: 14px;

            font-weight: 2.1rem;
            font-weight: 500;
        }

        .section__banner-text {
            margin-bottom: 59px;

            font-size: 1.4rem;
            font-weight: 300;
            color: #1e2122;
        }

        .section__btn {
            max-width: 224px;
            width: 100%;

            padding: 11px 0;

            font-size: 1.9rem;
        }
    }

    &--confidence {
        margin-bottom: 143px;

        .section__title {
            max-width: 400px;

            margin-bottom: 31px;
        }

        .section__content {
            position: relative;

            padding-top: 78px;

            max-width: 1060px;
            height: 100%;
            min-height: 418px;

            display: flex;
            align-items: stretch;

            margin: 0 auto;

            @media (max-width: $lg) {
                padding-top: 0;
                min-height: auto;

                align-items: center;
                justify-content: center;
                gap: 100px;
            }

            @media (max-width: $md) {
                flex-direction: column;
                gap: 30px;
            }
        }

        .section__cards-list {
            width: 100%;

            display: flex;
            justify-content: space-between;

            @media (max-width: $lg) {
                width: fit-content;
                flex-direction: column;
                gap: 50px;
            }
            @media (max-width: $md) {
                gap: 20px;
            }
        }

        .section__image {
            position: absolute;
            top: 0;
            left: 50%;

            transform: translate(-50%);

            @media (max-width: $lg) {
                position: static;

                display: block;
                max-width: 100%;
                height: auto;
                transform: translate(0);
            }
        }
    }

    &--services {
        margin-bottom: 44px;

        .section__title {
            margin-bottom: 39px;
        }
    }

    &--stats {
        margin-bottom: 84px;

        background: linear-gradient(
            270deg,
            #0188f0 0.99%,
            rgba(1, 136, 240, 0.48) 100%
        );
        padding: 82px 0;

        @media (max-width: $md) {
            padding: 40px 0;
        }
    }

    &--application {
        margin-bottom: 96px;

        .section__title {
            margin-bottom: 36px;
        }

        .section__content {
            padding: 40px 40px 49px;

            display: flex;
            justify-content: space-between;
            gap: 80px;

            border: 17px solid #0188f0;
            border-radius: 0 50px 0 0;

            @media (max-width: $xl) {
                gap: 30px;
            }
            @media (max-width: $md) {
                flex-direction: column;
                gap: 80px;
            }
            @media (max-width: $sm) {
                padding: 15px;
                border-width: 5px;
            }
        }

        .section__form {
            width: 100%;

            padding-right: 40px;

            border-right: 1px solid #f5f5f5;

            @media (max-width: $md) {
                padding-right: 0;
                border-right: 0;
            }
        }

        .section__form-caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            margin-bottom: 32px;

            font-weight: 500;

            @media (max-width: $lg) {
                flex-direction: column;
                align-items: start;
            }
        }

        .section__form-discount {
            font-size: 2.1rem;

            color: #ff3347;
        }
    }

    &--work-steps {
        margin-bottom: 191px;

        .section__title {
            margin-bottom: 47px;
        }

        @media (max-width: $sm) {
            margin-bottom: 100px;
        }
    }

    &--procedure {
        margin-bottom: 180px;

        @media (max-width: $sm) {
            margin-bottom: 100px;
        }

        .section__title {
            margin-bottom: 69px;
        }

        .section__content {
            display: flex;
            justify-content: space-between;

            @media (max-width: $xl) {
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }
        }
    }

    &__title {
        font-size: 3.1rem;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0.03em;

        @media (max-width: $lg) {
            font-size: 2.5rem;
        }
        @media (max-width: $md) {
            font-size: 2rem;
            line-height: 1.2;
        }
    }
}
