.section {
    &--showcase {
        padding: 72px 0 59px;

        margin-bottom: 52px;

        background-image: url('../img/section/showcase/bg.png');
        background-position: right center;
        background-repeat: no-repeat;

        border-bottom: 1px solid #f5f5f5;

        @media (max-width: $lg) {
            padding: 400px 0 0;
            background-image: url('../img/section/showcase/bg-md.png');
            background-position: right top;

            border-bottom: 0;
        }

        @media (max-width: $md) {
            padding: 400px 0 0;
            background-image: url('../img/section/showcase/bg-md.png');
            background-position: top center;
        }

        .section__inner {
        }

        .section__title {
            max-width: 700px;
            margin-bottom: 40px;
        }
    }

    &--advantages {
        margin-bottom: 77px;

        .section__title {
            margin-bottom: 36px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 17px;
        }
    }

    &--faq {
        .section__title {
            max-width: 544px;
            margin-bottom: 44px;
        }

        .section__content {
            display: flex;
            gap: 27px;

            @media (max-width: $md) {
                flex-direction: column;
            }
        }

        .section__banner {
            width: 281px;
            flex-shrink: 0;
            height: fit-content;

            padding: 27px 29px 33px;

            border-radius: 8px;
            border: 1px solid #bdbdbd;
        }

        .section__banner-title {
            margin-bottom: 14px;

            font-weight: 2.1rem;
            font-weight: 500;
        }

        .section__banner-text {
            margin-bottom: 59px;

            font-size: 1.4rem;
            font-weight: 300;
            color: #1e2122;
        }

        .section__btn {
            max-width: 224px;
            width: 100%;

            padding: 11px 0;

            font-size: 1.9rem;
        }
    }

    &__title {
        font-size: 3.1rem;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0.03em;

        @media (max-width: $lg) {
            font-size: 2.5rem;
        }
        @media (max-width: $md) {
            font-size: 2rem;
            line-height: 1.2;
        }
    }
}
