<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo">
                <picture>
                    <source srcset="img/logo/logo-full.webp">
                    <img src="img/logo/logo-full.png" alt="Логотип">
                </picture>


                <div class="footer__copy">
                    2023 <br>
                    Все права защищены
                </div>
            </div>

            <div class="footer__warning">
                <p>Внимание! Данный сайт носит информационный характер и ни при каких условиях не является публичной
                    офертой, которая определяется положениями Статьи 437 (2) Гражданского кодекса РФ. Для получения
                    подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь
                    к нашим менеджерам. Или мы сами свяжемся с Вами.</p>
            </div>

            <div class="contacts contacts--footer footer__contacts">
                <a href="tel:+74999900907" class="contacts__tel">+7(499) 990-09-07</a>

                <button type="button" class="btn btn--blue footer__btn">Заказать звонок</button>

                <ul class="socials">
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="img/socials/tg.svg" alt="">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="img/socials/inst.svg" alt="">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <img src="img/socials/viber.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>