<header class="header">

    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <a href="#" class="logo header__logo">
                    <picture>
                        <source srcset="img/logo/logo-full.webp">
                        <img src="img/logo/logo-full.png" class="logo__image" alt="Логотип">
                    </picture>
                </a>


                <div class="header__content">
                    <span class="header__about">Обслуживание и ремонт скважин
                        на воду любой сложности </span>

                    <div class="header__tel">
                        <img src="img/icons/tel.svg" class="header__tel-icon" alt="">

                        <div class="header__tel-body">
                            <a href="tel:+74999900907" class="header__tel-number">+7(499) 990-09-07</a>
                            <span>Ежедневно 24/7</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn--blue header__btn">
                        Заказать звонок
                    </button>

                </div>

                <button type="button" class="burger">
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                    <span class="burger__item"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#advantages" data-target="advantages" class="nav__link">
                            Наши преимущества
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#confidence" data-target="confidence" class="nav__link">
                            Почему нам доверяют?
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" data-target="services" class="nav__link">
                            Наши услуги
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#application" data-target="application" class="nav__link">
                            Оставьте заявку 
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#work-steps" data-target="work-steps" class="nav__link">
                            Как происходит обслуживание?
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#procedure" data-target="procedure" class="nav__link">
                            Схема работы
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>