<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo header__logo">
                <picture>
                    <source srcset="img/logo/logo-full.webp">
                    <img src="img/logo/logo-full.png" class="logo__image" alt="Логотип">
                </picture>
            </a>


            <div class="header__content">
                <span class="header__about">Обслуживание и ремонт скважин
                    на воду любой сложности </span>

                <div class="header__tel">
                    <img src="img/icons/tel.svg" class="header__tel-icon" alt="">

                    <div class="header__tel-body">
                        <a href="tel:+74999900907" class="header__tel-number">+7(499) 990-09-07</a>
                        <span>Ежедневно 24/7</span>
                    </div>
                </div>

                <button type="button" class="btn btn--blue header__btn">
                    Заказать звонок
                </button>

            </div>
        </div>
    </div>
</header>