// colors
$colors-primary: #ffffff;
$colors-text: #000000;
$colors-text-light: #636C72;
$colors-decor: #BDBDBD;

// typography
$family: 'Inter', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
